.badgify-badges {
    border: 1px solid #ececec;
    text-align: center;
}

.badgify-badges-content {
    padding: 20px;
}

.badgify-badges h5 {
    font-weight: normal;
    text-transform: uppercase;
    background: #f5f5f5;
    padding: 20px;
    margin: 0;
}

.badgify-badges ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.badgify-badges li {
    display: inline-block;
    margin: 4px;
}

